In [101]:
# Importing Required Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [102]:
# Reading Data
data = pd.read_csv('headbrain.csv')

In [103]:
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [104]:
data.shape

(237, 4)

In [105]:
# Splitting into X and Y
X = data['Head Size(cm^3)'].values
Y =  data['Brain Weight(grams)'].values

In [106]:
X  = X.reshape((len(X)),1)

In [107]:
X.shape

(237, 1)

In [108]:
reg = LinearRegression()
# Fitting training data
reg = reg.fit(X, Y)

In [109]:
# Y Prediction
Y_pred = reg.predict(X)

In [110]:
# Calculating RMSE and R2 Score
mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = reg.score(X, Y)

In [111]:
print(np.sqrt(mse))
print(r2_score)

72.1206213783709
0.639311719957